<a href="https://colab.research.google.com/github/Tajyu/sm11/blob/master/ch02_01_numeric.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

파이썬 데이터 : 숫자형

In [17]:
print("숫자형: 정수")
a = 123
print(a)
a = -178
print(a)
a = 0
print(a)

숫자형: 정수
123
-178
0

In [18]:
print("숫자형: 실수")
a = 1.2
print(a)
a = -3.48
print(a)
a = 4.24e10
print(a)
a = 4.24e-10
print(a)

숫자형: 실수
1.2
-3.48
42400000000.0
4.24e-10

In [19]:
print("숫자형: 8진수와 16진수")
a = 0o177
print(a)
a = 0x8FF
print(a)
a = 0xABC
print(a)
# 16진수 a=0xf7 = 247 = 15*16+7

숫자형: 8진수와 16진수
127
2303
2748

In [24]:
print("숫자형: 연산자와 연산")
a = 3
b = 4
a,b
print(a + b)
print(a * b)
print(a / b)
print(a ** b)
print(a % b)
print(a // b)

print(14 // 3)
print(14 % 3)

숫자형: 연산자와 연산
7
12
0.75
81
3
0
4
2