<a href="https://colab.research.google.com/github/Tajyu/sm11/blob/master/Ch02_exercises_id.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##홍길동 씨의 과목별 점수는 다음과 같다. 홍길동 씨의 평균 점수를 구해 보자.

###과목 점수
####국어 80
####영어 75
####수학 55

In [8]:
print("<방법 1 - 단순 계산>")
K = 80
E = 75
M = 55

average = (80+75+55)//3
print("평균점수 : {0}".format(average))

<방법 1>
평균점수 : 70

In [12]:
print("<방법 2 - list사용>")
K = 80
E = 75
M = 55

average = [80,75,55]
print("평균점수 : {0}".format(sum(average)/len(average)))

<방법 2 - list사용>
평균점수 : 70.0

###자연수 13이 홀수인지 짝수인지 판별할 수 있는 방법에 대해 말해 보자.

####판별 기준
####코드

In [14]:
if 13%2 ==0:
  print("짝수")
else:
    print("홀수")

홀수

###홍길동 씨의 주민등록번호는 881120-1068234이다. 홍길동 씨의 주민등록번호를 연월일(YYYYMMDD) 부분과 그 뒤의 숫자 부분으로 나누어 출력해 보자.

####문자열 슬라이싱 기법을 사용해 보자.

In [19]:
print("방법 1 - 인덱싱 번호로 나눈다.")

a="881120-1068234" 
print(a[0:6])
print(a[7:])

방법 1 - 인덱싱 번호로 나눈다.
881120
1068234

In [18]:
print("방법 2 - ' - '를 기준으로 나눈다.")

a="881120-1068234" 
a_list = a.split("-")
print(a_list[0])
print(a_list[1])

방법 2 - ' - '를 기준으로 나눈다.
881120
1068234

###주민등록번호 뒷자리의 맨 첫 번째 숫자는 성별을 나타낸다. 주민등록번호에서 성별을 나타내는 숫자를 출력해 보자.

####pin = "881120-1068234"
####※ 문자열 인덱싱 또는 내장함수를 사용해 보자.
####문자열포맷팅을 이용해서 성별을 출력하시오.

In [21]:
print("방법 1")
s = "881120-1068234"

if s[7:8]=="1":
    print("{0}이므로 남자".format(s[7:8]))
else:
    print("{0}이므로 여자".format(s[7:8]))

방법 1
1이므로 남자

In [25]:
print("방법 2")
s = "881120-1068234"

s_list=s.split("-")
print(type(s_list[1][0]), s_list[1][0])

if s[7:8]=="1":
    print("{0}이므로 남자".format(s_list[1][0]))
else:
    print("{0}이므로 여자".ormat(s_list[1][0]))

방법 2
<class 'str'> 1
1이므로 남자

###다음과 같은 문자열 a:b:c:d가 있다. 문자열의 replace 함수를 사용하여 a#b#c#d로 바꿔서 출력해 보자.

####a = "a:b:c:d"

In [26]:
a="a:b:c:d"
print(a.replace(":","#"))

a#b#c#d

###[1, 3, 5, 4, 2] 리스트를 [5, 4, 3, 2, 1]로 만들어 보자.

####※ 리스트의 내장 함수를 사용해 보자.

In [27]:
a = [1,3,5,4,2]
a.sort()
print(a)
a.reverse()
print(a)

[1, 2, 3, 4, 5]
[5, 4, 3, 2, 1]

###['Life', 'is', 'too', 'short'] 리스트를 Life is too short 문자열로 만들어 출력해 보자.

####※ 문자열의 join 함수를 사용하면 리스트를 문자열로 쉽게 만들 수 있다.

In [29]:
print("방법 1 - 하나씩 출력하여 붙인다.")
a=['Life', 'is', 'too', 'short']
print(a[0],a[1],a[2],a[-1])

방법 1 - 하나씩 출력하여 붙인다.
Life is too short

In [31]:
print("방법 2 - join사용")
a=['Life', 'is', 'too', 'short']
a =" ".join(a)
print(a)

방법 2 - join사용
Life is too short

### (1,2,3) 튜플에 값 4를 추가하여 (1,2,3,4)를 만들어 출력해 보자.

####※ 더하기(+) 또는 다른 방법들을 사용해 보자.

In [33]:
print("방법 1 - 더하기")
a = (1,2,3)
a+=(4,)
print(a)

방법 1 - 더하기
(1, 2, 3, 4)

In [0]:
print("방법 2 - list사용")
a = (1,2,3)
b = list(a)
b.append(4)
a = tuple(b)
print(a)

다음과 같은 딕셔너리 a가 있다.

a = dict()
a
{}

다음 중 오류가 발생하는 경우를 고르고, 그 이유를 설명해 보자.

a['name'] = 'python'

a[('a',)] = 'python'
a[[1]] = 'python'
a[250] = 'python'




##답 : a[[1]] = 'python' 오류발생 이유는 [ ] 는 딕셔너리 형태인데 딕셔너리의 키값은 바꿀수없기때문이다.

###딕셔너리 a에서 'B'에 해당되는 값을 추출해 보자.

###a = {'A':90, 'B':80, 'C':70}

####※ 딕셔너리의 pop 함수를 사용해 보자.

In [40]:
a = {'A':90, 'B':80, 'C':70}
print(a.pop('B'))

80

###a 리스트에서 중복 숫자를 제거해 보자.

###a = [1, 1, 1, 2, 2, 3, 3, 3, 4, 4, 5]

####※ 집합 자료형의 요솟값이 중복될 수 없다는 특징을 사용해 보자.

In [41]:
a = [1, 1, 1, 2, 2, 3, 3, 3, 4, 4, 5]
a=set(a)
a=list(a)
print(a)

[1, 2, 3, 4, 5]

파이썬은 다음처럼 동일한 값에 여러 개의 변수를 선언할 수 있다. 다음과 같이 a, b 변수를 선언한 후 a의 두 번째 요솟값을 변경하면 b 값은 어떻게 될까? 그리고 이런 결과가 오는 이유에 대해 설명해 보자.

a = b = [1, 2, 3]
a[1] = 4
print(b)

##답 : a와 b는 같은 값을 가지고있어서 같은 ID를 가진다. 그런데 a의 요솟값을 변경하게되면 ID가 달라진다. a와 b의 ID값을 같게 할려면 다시 "a=b"를 해줘야한다.