<a href="https://colab.research.google.com/github/Tajyu/sm11/blob/master/sm11_exam_final.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

```




```

# 기말필기시험: 고급시뮬레이션 (2019.12.20)
- 문제에 배점이 표시되어 있음. (총 30점)  
```










```

***
코드에 대한 평가는 다음 기준으로 수행한다.
1. 적절한 함수와 로직을 이용하는 능력
2. 변수, 함수명을 명확하게 사용해서 코딩하는 능력.
***
```








```



---


---
```


```

### [1: 4점] 게시판 페이징하기
> 게시판 프로그램을 작성하고 있다.
>> 그런데 게시물의 총 건수와 한 페이지에 보여 줄 게시물 수를 입력으로   
>> 주었을 때 총 페이지 수를 출력하는 함수 (getTotalPageNew)를 만들어보자.   
>>> 한 페이지에서 보여 줄 게시물 수가 최대 10  

- 프로그램 예시

```
def getTotalPage(m, n):
    if m % n == 0:
        return m // n
    else:
        return m // n + 1

print(getTotalPage(5, 10))  # 1
print(getTotalPage(15, 10)) # 2
print(getTotalPage(25, 10)) # 3
print(getTotalPage(30, 10)) # 3
```  
> 최소한의 줄로 동작하는 코드를 만드시오.

```
_________________________________________________________________________________________

_________________________________________________________________________________________

_________________________________________________________________________________________


```

In [3]:
def getTotalPageNew(m, n):
    return m // n if m % n == 0 else m // n + 1

print(getTotalPageNew(5, 10))  # 1
print(getTotalPageNew(15, 10)) # 2
print(getTotalPageNew(25, 10)) # 3
print(getTotalPageNew(30, 10)) # 3

1
2
3
3

### [2: 4점] 리스트 총합 구하기  
> 다음은 A학급 학생의 점수를 나타내는 리스트이다.  
> 다음 리스트에서 60점 이상 점수의 총합을 구하시오.  
```
A = [20, 55, 67, 82, 45, 33, 90, 87, 100, 25]
```
- 프로그램 예시

```
result = 0
while A:                # A 리스트에 값이 있는 동안
    mark = A.pop()      # A 리스트의 가장 마지막 항목을 하나씩 뽑아냄
    if mark >= 60:      # 60점 이상의 점수만 더함
        result += mark

print(result)           # 결과 출력
```  

> 최소한의 줄로 동작하는 코드를 만드시오.
>> filter, map 등의 함수와 lambda 식을 사용하면 +alpha

```
_________________________________________________________________________________________

_________________________________________________________________________________________

_________________________________________________________________________________________

_________________________________________________________________________________________
```

In [0]:
print(sum(list(filter(lambda x : x >= 60, [20, 55, 67, 82, 45, 33, 90, 87, 100, 25])))) # filter로 60점이상을 판단하여 리스트를 만든 후 총합을 구해준다

### [3: 4점] 한 줄 구구단 출력
> 사용자로부터 2~9의 숫자 중 하나를 입력받아 해당 숫자의  
> 구구단을 한 줄로 출력하는 프로그램을 작성하시오.  

- 프로그램 예시

```
user_input = input("구구단을 출력할 숫자를 입력하세요(2~9):")
dan = int(user_input)       # 입력 문자열을 숫자로 변환
for i in range(1, 10):
    print(i*dan, end= ' ') 

```

> 실행 예)
```
구구단을 출력할 숫자를 입력하세요(2~9): 2
2 4 6 8 10 12 14 16 18
```

> 최소한의 줄로 동작하는 코드를 만드시오.
>> 리스트 내포를 사용해보시오.

```
_________________________________________________________________________________________

_________________________________________________________________________________________

_________________________________________________________________________________________

_________________________________________________________________________________________

```

In [4]:
a = int(input("구구단을 출력할 숫자를 입력하세요(2~9):")) # 단수를 입력받는다
print(" ".join([str(a * i) for i in range(1,10)])) # 구구단을 출력하되 대괄호 없이 출력되길 원하므로 join을 사용한다

구구단을 출력할 숫자를 입력하세요(2~9):2
2 4 6 8 10 12 14 16 18

### [4: 4점] 파일을 읽어서 평균값 구하고, 결과 저장하기

> 다음과 같이 총 10줄로 이루어진 sample.txt 파일이 있다.   
> sample.txt 파일의 숫자 값을 모두 읽어 총합과 평균 값을 구한 후   
> 평균 값을 result.txt 파일에 쓰는 프로그램을 작성하시오.  
> sample.txt
```
70
60
55
75
95
90
80
80
85
100
```
- 프로그램 예시

```
f = open("sample.txt")
lines = f.readlines( )  # sample.txt를 줄 단위로 모두 읽는다.
f.close( )

total = 0
for line in lines:
    score = int(line)  # 줄에 적힌 점수를 숫자형으로 변환한다.
    total += score
average = total / len(lines)

f = open("result.txt", "w")
f.write(str(average))
f.close()

```
> readlines( )를 read() 함수로 변경해서 코드를 만드시오.

```
_________________________________________________________________________________________

_________________________________________________________________________________________

_________________________________________________________________________________________

_________________________________________________________________________________________

_________________________________________________________________________________________

```

In [0]:
with open("sample.txt") as f :
    lines = f.read() # 텍스트 안의 글자를 통채로 가져온다
    result = lines.split("\n")  # sample.txt를 줄 단위로 모두 읽는다.

with open("result.txt", "w") as f:
    average = sum(list(map(lambda x : int(x), result))) / len(result) # 문자를 숫자로 변경하고 평균을 구한다
    f.write(str(average))

### [5: 4점] Duplicate Numbers

> 0 ~ 9의 문자로 된 숫자를 입력받았을 때, 이 입력값이 0 ~ 9의 모든 숫자를  
> 각각 한 번씩만 사용한 것인지 확인하는 함수를 작성하시오.  

```
입력 예시: 0123456789 01234 01234567890 6789012345 012322456789
출력 예시: true false false true false
```

- 프로그램 예시

```
def chkDupNum(s):
    result = []
    for num in s:
        if num not in result:
            result.append(num)
        else:
            return False
    return len(result) == 10

# 실행 예
print(chkDupNum("0123456789"))      # True 리턴
print(chkDupNum("01234"))           # False 리턴
print(chkDupNum("01234567890"))     # False 리턴
print(chkDupNum("6789012345"))      # True 리턴
print(chkDupNum("012322456789"))    # False 리턴
```

> 위와 같이 작용하는 코드를 다른 방법으로 만드시오.

```
_________________________________________________________________________________________

_________________________________________________________________________________________

_________________________________________________________________________________________

_________________________________________________________________________________________

_________________________________________________________________________________________

_________________________________________________________________________________________

_________________________________________________________________________________________


```

In [0]:
def chkDupNum(s):
     return "True" if len(set(s)) == 10 and len(s) == 10 else "False" 
print(chkDupNum("0123456789"))   # True 리턴
print(chkDupNum("01234"))        # False 리턴
print(chkDupNum("01234567890"))  # False 리턴
print(chkDupNum("6789012345"))   # True 리턴
print(chkDupNum("012322456789")) # False 리턴

### [6: 5점] Analysis of IoT data using pandas. 

> express 서버의 라우팅주소를 이용해서 MongoDB 서버에 접근한다.  
> 현재 DB에 저장되고 있는 NoSQL 문서들을 json 파일로 가져온다.  
> IoT 문서들을 pandas의 데이터프레임으로 처리하는 다음 코드에서
> 빈 곳을 완성하시오.  

```
import pandas as pd
# loading json file from MongoDB via web (CORS, port=3030)
url="http://chaos.inje.ac.kr:3030/iot"
df=pd.[6.A]_______________(url)

# Make dataframe with date and 
# three sensor values(temperature, humidity, luminosity)
iot_data = [6.B]_________________________________________________
# Plot boxplot
iot_data[['temperature','humidity','luminosity']].plot.
box(title='Boxplot of temperature, humidity, and luminosity')

# Plot the mean of sensor data in bar-graph
iot_data[['temperature','humidity','luminosity']].[6.C]______________(figsize=  
(8,6), title="Mean of temperature, humidity, and luminosity")

# Plot the change of sensor data over various time spans.
# Set date as index of timestamp  
iot_data.[6.D]_______________________________________

#  Plot mean of the iot data per every minute
iot_data.resample('60S').mean().plot(figsize=(12,6),  
 title='Minutely change of temperature, humidity, and luminosity')

#  Plot a bar graph using the mean of the iot data per every day
iot_data.resample('D').mean().plot([6.E]_________________, figsize=(12,6),  
title='Daily change of temperature, humidity, and luminosity')
```
```
[6.A]
________________________________________________________________________________

[6.B]
________________________________________________________________________________

[6.C]
________________________________________________________________________________

[6.D]
________________________________________________________________________________

[6.E]
________________________________________________________________________________
```

In [0]:
import pandas as pd
# loading json file from MongoDB via web (CORS, port=3030)
url="http://chaos.inje.ac.kr:3030/iot"
df=pd.read_json(url) # A : read_json
 
# Make dataframe with date and 
# three sensor values(temperature, humidity, luminosity)
iot_data = df[['date','temperature','humidity','luminosity']] # B : df[['date','temperature','humidity','luminosity']]
# Plot boxplot
iot_data[['temperature','humidity','luminosity']].plot.box(title='Boxplot of temperature, humidity, and luminosity')
 
# Plot the mean of sensor data in bar-graph
iot_data[['temperature','humidity','luminosity']].mean().plot.bar(figsize=(8,6), title="Mean of temperature, humidity, and luminosity") # C : mean().plot.bar
 
# Plot the change of sensor data over various time spans.
# Set date as index of timestamp  
iot_data.set_index('date',inplace=True) # D : set_index('date',inplace=True)
 
#  Plot mean of the iot data per every minute
iot_data.resample('60S').mean().plot(figsize=(12,6),  
 title='Minutely change of temperature, humidity, and luminosity')
 
#  Plot a bar graph using the mean of the iot data per every day
iot_data.resample('D').mean().plot(kind='bar', figsize=(12,6),  # E : kind='bar'  # (, marker = 'o', ms = '10')
title='Daily change of temperature, humidity, and luminosity')


# A : read_json
# B : df[['date','temperature','humidity','luminosity']]
# C : mean().plot.bar
# D : set_index('date',inplace=True)
 # E : kind='bar'  # (, marker = 'o', ms = '10')

### [7: 5점] Visualization of CIFAR-100 data for Computer vision

> CIFAR-100 트레인 데이터셋에는 과일, 곤충, 의자, 자동차, 배, 사람,   
> 아기, 어른 등의 100가지 종류의 사진이 각 클래스별로 500장씩 준비되어 있다.   
> CIFAR-100 테스트 데이터셋에는 과일, 곤충, 의자, 자동차, 배, 사람,   
> 아기, 어른 등의 100가지 종류의 사진이 각 클래스별로 100장씩 준비되어 있다.  
> CIFAR-100 데이터셋을 시각화하는 다음 코드를 완성하시오.  

```
# use TensorFlow 2.x 
%tensorflow_version 2.x
import pandas as pd
import tensorflow as tf
from tensorflow import keras
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
print(tf.__version__)

# CIFAR-100 Dataset
from keras.datasets import cifar100
# load dataset
(trainX, trainy), (testX, testy) = cifar100.load_data()
# summarize loaded dataset
print('Train: X=%s, y=%s' % (trainX.shape, trainy.shape))
print('Test: X=%s, y=%s' % (testX.shape, testy.shape))
# Train: X=(50000, 32, 32, 3), y=(50000, 1)
# Test: X=(10000, 32, 32, 3), y=(10000, 1)

# 다음은 테스트 데이터셋의 각 클래스에 속하는 사진을 한장 씩 
# 10 X 10 격자로 보여주는 코드이다.
##########################################
fig = plt.figure(figsize=(10,13))
for i in range(100):
    plt.subplot(10, 10, i+1)
    num0_99 = testX[testy[:,0] == i]
    plt.imshow(num0_99[33]) #, cmap='gray') #, interpolation='none')
    plt.title("Class %d" % (i))
    plt.xticks([])
    plt.yticks([])
##########################################

# 테스트 데이터셋에서 클래스-35에 속한 모든 사진(100장)을 5X20 격자로 
# 보여주는 코드를 아래에 완성하시오.

```

```

________________________________________________________________________________


________________________________________________________________________________


________________________________________________________________________________


________________________________________________________________________________


________________________________________________________________________________


```

In [0]:
fig = plt.figure(figsize=(12,15))
for i in range(100):
    plt.subplot(5,20, i+1) # 5 * 20
    num0_99 = testX[testy[:,0] == i]
    plt.imshow(num0_99[35]) #, cmap='gray') #, interpolation='none')
    plt.title("Class 35")
    plt.xticks([])
    plt.yticks([])

## 정답을 설명하는 파이썬 노트를 완성해서 각자의 github에 올리시오.
- 제출기한: 12월 23일(월) 오후 11시.

### 업로드 파일명: smnn_exam_final.ipynb  (pynn은 id)