<a href="https://colab.research.google.com/github/Tajyu/sm11/blob/master/Ch05/ch5_05_internal_functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 내장 함수
## 파이썬 내장 함수는 미리 준비된 내부 모듈
## 외부 모듈과 달리 import가 필요하지 않다.

In [0]:
print("abs()")

# abs(x)는 어떤 숫자를 입력받았을 때,
# 그 숫자의 절댓값을 돌려주는 함수

print(abs(3))
print(abs(-3))
print(abs(-1.2))

In [0]:
print("all()")

# all(x)는 반복 가능한(iterable) 자료형 x를 입력 인수로 받으며
# 이 x가 모두 참이면 True, 거짓이 하나라도 있으면 False를 돌려준다.

print(all([1, 2, 3]))
print(all([0, 1, 2, 3]))

In [0]:
bool([0, 1, 2, 3]), bool([0]), bool((0)), bool((0,))

In [0]:
print("any()")

# any(x)는 x 중 하나라도 참이 있으면 True를 돌려주고,
# x가 모두 거짓일 때에만 False를 돌려준다. all(x)의 반대이다.

print(any([0, 1, 2, 3]))

print(any([0, ""]))

In [6]:
print("chr()")

# chr(i)는 아스키(ASCII) 코드 값을 입력받아
# 그 코드에 해당하는 문자를 출력하는 함수이다.

print(chr(97))
print(chr(48))

chr()
a
0

In [8]:
print("dir()")

# dir은 객체가 자체적으로 가지고 있는 변수나 함수를 보여 준다.

print(dir([1, 2, 3]))  # list object

print(dir({"1": "a"}))  # dict object
type({"1": "a"})

dir()
['__add__', '__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']
['__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'clear', 'copy', 'fromkeys', 'get', 'items', 'keys', 'pop', 'popitem', 'setdefault', 'update', 'values']

dict

In [0]:
print("divmod()")

# divmod(a, b)는 2개의 숫자를 입력으로 받는다.
# 그리고 a를 b로 나눈 몫과 나머지를 튜플 형태로 돌려주는 함수

divmod(7, 3)  # 결과값을 tuple로 반환

In [0]:
print("enumerate()")
# 매우 중요하다!!

# enumerate는 "열거하다"라는 뜻이다.
# 이 함수는 순서가 있는 자료형(리스트, 튜플, 문자열)을 입력으로
# 받아 인덱스 값을 포함하는 enumerate 객체를 돌려준다.


for i, name in enumerate(["body", "foo", "bar"]):
    print(i, name)

In [0]:
print("eval()")

# eval(expression )은 실행 가능한 문자열(1+2, 'hi' + 'a' 같은 것)을
# 입력으로 받아 문자열을 실행한 결괏값을 돌려주는 함수

eval("1+2")
eval("'hi' + 'a'")
eval("divmod(4, 3)")

In [0]:
print("filter()") 
 # 매우 중요하다!!!

# filter 함수는 첫 번째 인수로 함수 이름을,
# 두 번째 인수로 그 함수에 차례로 들어갈 반복 가능한 자료형을 받는다.
# 그리고 두 번째 인수인 반복 가능한 자료형 요소가 첫 번째 인수인
# 함수에 입력되었을 때 반환 값이 참인 것만 묶어서(걸러 내서) 돌려준다.

# positive.py
def positive(l):
    result = []
    for i in l:
        if i > 0:
            result.append(i)
    return result


print(positive([1, -3, 2, 0, -5, 6]))

In [0]:
# filter() 함수 이용
# filter1.py
def positive(x):
    return x > 0


print(list(filter(positive, [1, -3, 2, 0, -5, 6])))

# lambda를 사용하면 더욱 간편하게 코드를 작성할 수 있다.

list(filter(lambda x: x > 0, [1, -3, 2, 0, -5, 6])) # 시험에 나올확률 높다. 중요하다!!

In [0]:
print("hex()")

# hex(x)는 정수 값을 입력받아 16진수(hexadecimal)로
# 변환하여 돌려주는 함수

print(hex(10))
print(hex(234))

In [0]:
print("id()")

# 중요하다!!

# d(object)는 객체를 입력받아 객체의 고유 주소 값(레퍼런스)을 돌려주는 함수

a = 3
print(id(3))
print(id(a))
# 값이 같게 나온다.

b = a
print(id(b))
# 값이 같게 나온다.

print(id(4))  # different address

In [0]:
print("input()")

# input([prompt])은 사용자 입력을 받는 함수이다.
# 매개변수로 문자열을 주면, 그 문자열은 프롬프트가 된다.

a = input()
b = input("Enter: ")
b

In [20]:
print("int()")

# int(x)는 문자열 형태의 숫자나 소수점이 있는 숫자 등을
# 정수 형태로 돌려주는 함수

print(int(3))
print(int("3"))
print(int(3.14))

# int(x, radix)는 radix 진수로 표현된 문자열 x를 10진수로 변환
print(int("11", 2))
# int(11, 2)  # TypeError:

int("F", 16)

int()
3
3
3
3

15

In [0]:
print("isinstance()")

# isinstance(object, class )는 첫 번째 인수로 인스턴스,
# 두 번째 인수로 클래스 이름을 받는다.
# 입력으로 받은 인스턴스가 그 클래스의 인스턴스인지를 판단하여
# 참이면 True, 거짓이면 False를 돌려준다.

class Person:
    pass


a = Person()
print(isinstance(a, Person))

b = 3
print(isinstance(b, Person))

In [0]:
print("len()")

# len(s)은 입력값 s의 길이(요소의 전체 개수)를 돌려주는 함수이다.

print(len("python"))
print(len([1, 2, 3]))
print(len((1, "a"))) # 튜플
print(len({a: 3})) # 딕셔너리 아이템

In [37]:
print("list()")

# list(s)는 반복 가능한 자료형 s를 입력받아 리스트로 만들어 돌려주는 함수

print(list("python")) # 하나씩 요소로 받아 들인다.
print(list((1, 2, 3)))

list()
['p', 'y', 't', 'h', 'o', 'n']
[1, 2, 3]

In [26]:
print("map()")  

# 매우 중요하다!!

# map(f, iterable)은 함수(f)와 반복 가능한(iterable) 자료형을 입력으로 받는다.
# map은 입력받은 자료형의 각 요소를 함수 f가 수행한 결과를 묶어서 돌려주는 함수

# two_times.py
def two_times(numberList):
    result = []
    for number in numberList:
        result.append(number * 2)
    return result


result = two_times([1, 2, 3, 4])
print(result)

# map 함수를 사용
def two_times(x):
    return x * 2


print(list(map(two_times, [1, 2, 3, 4])))

# lambda를 사용
list(map(lambda a: a * 2, [1, 2, 3, 4]))

map()
[2, 4, 6, 8]
[2, 4, 6, 8]

[2, 4, 6, 8]

In [27]:
print("max()")

# max(iterable)는 인수로 반복 가능한 자료형을 입력받아
# 그 최댓값을 돌려주는 함수

print(max([1, 2, 3]))
print(max("python"))
print(max(list(range(10))))
print(max(range(10)))

max()
3
y
9
9

In [28]:
print("min()")

# min(iterable)은 max 함수와 반대로, 인수로 반복 가능한 자료형을 입력받아 그 최솟값을 돌려주는 함수

print(min([1, 2, 3]))
print(min("python"))
print(min(range(10)))

min()
1
h
0

In [29]:
print("oct()")

# oct(x)는 정수 형태의 숫자를 8진수 문자열로 바꾸어 돌려주는 함수

print(oct(9))
print(oct(12345))

oct()
0o11
0o30071

In [30]:
print("ord()")

# ord(c)는 문자의 아스키 코드 값을 돌려주는 함수

# ※ ord 함수는 chr 함수와 반대이다.

print(ord("a"))  # chr(97)
print(ord("0"))  # chr(48)

ord()
97
48

In [31]:
print("pow()")

# pow(x, y)는 x의 y 제곱한 결괏값을 돌려주는 함수

print(pow(2, 4))  # 2**4
print(pow(3, 4))  # 3**4

pow()
16
81

In [42]:
print("range()") 

# 매우 중요하다!!

# range([start,] stop [,step] )는 for문과 함께 자주 사용하는 함수
# 이 함수는 입력받은 숫자에 해당하는 범위 값을 반복 가능한 객체로
# 만들어 돌려준다.

# 인수가 하나일 경우
print(list(range(5)))

print(dir(range(5)))

# 인수가 2개일 경우
print(list(range(5, 10)))

# 인수가 3개일 경우
print(list(range(1, 10, 2)))

print(list(range(0, -10, -1)))

range()
[0, 1, 2, 3, 4]
['__bool__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'count', 'index', 'start', 'step', 'stop']
[5, 6, 7, 8, 9]
[1, 3, 5, 7, 9]
[0, -1, -2, -3, -4, -5, -6, -7, -8, -9]

In [34]:
print("round()")

# round(number[, ndigits]) 함수는 숫자를 입력받아 반올림해 주는 함수

# ※ [, ndigits]는 ndigits가 있을 수도 있고 없을 수도 있다는 의미이다.
# [, ndigits]는 몇번째 자리까지 반올림하는지 

print(round(4.6)) 
print(round(4.2))

# 소수점 2자리까지만 반올림
print(round(5.678, 2))

round()
5
4
5.68

In [35]:
print("sorted()") 

# 매우 중요하다!!

# sorted(iterable) 함수는 입력값을 정렬한 후
# 그 결과를 리스트로 돌려주는 함수
# 'reverse' 속성으로 정렬순서 반전

print(sorted([3, 1, 2]))
print(sorted([3, 1, 2], reverse=True))

print(sorted(["a", "c", "b"]))
print(sorted(["a", "c", "b"], reverse=True))

print(sorted("zero"))
print(sorted((3, 2, 1)))  # list로 반환!!!

sorted()
[1, 2, 3]
[3, 2, 1]
['a', 'b', 'c']
['c', 'b', 'a']
['e', 'o', 'r', 'z']
[1, 2, 3]

In [36]:
print("str()")

# str(object)은 문자열 형태로 객체를 변환하여 돌려주는 함수


print(str(3))
print(str(100))
print(str("hello".upper()))

str()
3
100
HELLO

In [38]:
print("sum()")

# sum(iterable) 은 입력받은 리스트나 튜플의 모든 요소의 합을 돌려주는 함수

print(sum([1, 2, 3]))
print(sum((4, 5, 6)))

sum()
6
15

In [39]:
print("tuple()")

# tuple(iterable)은 반복 가능한 자료형을 입력받아 튜플 형태로 바꾸어 돌려주는 함수

print(tuple("abc"))
print(tuple([1, 2, 3]))

tuple()
('a', 'b', 'c')
(1, 2, 3)

In [40]:
print("type()")

# type(object)은 입력값의 자료형이 무엇인지 알려 주는 함수

print(type("abc"))
print(type([]))
print(type({a: 4}))
print(type(open("test", "w")))

type()
<class 'str'>
<class 'list'>
<class 'dict'>
<class '_io.TextIOWrapper'>

In [41]:
print("zip()") 

# 매우 중요하다!!

# zip(*iterable)은 동일한 개수로 이루어진 자료형을 묶어 주는 역할을 하는 함수

print(list(zip([1, 2, 3], [4, 5, 6])))
print(list(zip([1, 2, 3], [4, 5, 6], [7, 8, 9])))
print(list(zip("abc", "def")))
print(list(zip([1, 2, 3], "def")))

zip()
[(1, 4), (2, 5), (3, 6)]
[(1, 4, 7), (2, 5, 8), (3, 6, 9)]
[('a', 'd'), ('b', 'e'), ('c', 'f')]
[(1, 'd'), (2, 'e'), (3, 'f')]