<a href="https://colab.research.google.com/github/Tajyu/sm11/blob/master/ch04/ch4_02_user_io.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 사용자 입력과 출력
### 사용자의 입력을 받는 방법과 출력하는 방법

## 사용자 입력
### 사용자가 입력한 값을 어떤 변수에 대입

## input의 사용

In [1]:
a = input()
# Life is too short, you need python
a

 Life is too short, you need python

' Life is too short, you need python'

## 입력 안내 문구를 이용한 input의 사용

In [2]:
# input("안내 문구")

number = input("숫자를 입력하세요: ")

print(number)

숫자를 입력하세요: 1
1

## 사용자 출력: print()

In [3]:
# 입력한 자료형을 출력
# print의 사용

a = 123
print(a)

a = "Python"
print(a)

a = [1, 2, 3]
print(a)

123
Python
[1, 2, 3]

## 큰따옴표(\")로 둘러싸인 문자열은 + 연산과 동일

In [4]:
print("life" "is" "too short")
print("life"+"is"+"too short")

lifeistoo short
lifeistoo short

## 문자열 띄어쓰기는 콤마로 한다

In [5]:
print("life", "is", "too short")

life is too short

## 한 줄에 결괏값 출력하기

In [6]:
for i in range(10):
    print(i, end=' ') #  end=' ' 가로로 출력

0 1 2 3 4 5 6 7 8 9