<a href="https://colab.research.google.com/github/Tajyu/sm11/blob/master/ch04/ch4_01_function.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 함수란 무엇인가?
### 입력값을 가지고 어떤 일을 수행한 다음에 
### 그 결과물을 내어놓는 것

## 함수를 사용하는 이유는 무엇일까?
## 반복되는 부분을 함수로 전환.
## 코딩을 모듈화

## 파이썬 함수의 구조
### def 함수명(매개변수):
### <수행할 문장1>
### <수행할 문장2>
###  ...

In [3]:
# add() 함수를 정의
def add(a, b): 
    return a + b

# add() 함수를 사용
a=3
b=4
c=add(a,b)
print(c)

x=[1,2,3]
y=[4,5,6]
z=x+y
print(z)

7
[1, 2, 3, 4, 5, 6]

## 매개변수와 인수릐 차이를 이해하자

### 매개변수는 함수에 입력으로 전달된 값을 받는 변수
#### 인수는 함수를 호출할 때 전달하는 입력값을 의미

### def add(a, b):  # a, b는 매개변수
###    return a+b

### print(add(3, 4))  # 3, 4는 인수

## 입력값과 결괏값에 따른 함수의 형태
### 입력값 ---> 함수 ----> 결괏값
### 일반적인 함수
### 입력값과 결괏값이 있는 함수

### def 함수이름(매개변수):
### <수행할 문장>
### ...
### return 결과값

In [5]:
def add2(a, b): 
    result = a + b 
    return result

# 입력값과 결괏값이 있는 함수의 사용법
# 결괏값을 받을 변수 = 함수이름(입력인수1, 입력인수2, ...)
a = add2(3, 4)
print(a)

7

In [6]:
# 입력값이 없는 함수

def say(): 
    return 'Hi'

# 입력값이 없는 함수의 사용법
# 결괏값을 받을 변수 = 함수이름()
a = say()
print(a)

Hi

In [10]:
# 결괏값이 없는 함수

def add3(a, b): 
    print("%d, %d의 합은 %d입니다." % (a, b, a+b))


# 결괏값이 없는 함수의 사용법
# 함수이름(입력인수1, 입력인수2, ...)
add3(3, 4)

# 다음 결과는 무엇인가?
a = add3(3, 4) 
print(a) #return을 안해서

3, 4의 합은 7입니다.
3, 4의 합은 7입니다.
None

In [9]:
# 입력값도 결괏값도 없는 함수

def say2(): 
    print('Hi')


# 입력값도 결괏값도 없는 함수의 사용법
# 함수이름()
say()

'Hi'

## 매개변수의 값을 지정하여 호출하기

In [11]:
def add4(a, b):
    return a+b


result = add4(a=3, b=7)  # a에 3, b에 7을 전달
print(result)
# 매개변수의 순서에 상관없이 사용
result = add4(b=5, a=3)  # b에 5, a에 3을 전달
print(result)

10
8

## 입력값이 몇 개가 될지 모를 때는 어떻게 해야 할까?
### def 함수이름(*매개변수): 
### <수행할 문장>
###  ...

In [12]:
def add_many(*args):
    result = 0 
    for i in args: 
        result = result + i 
    return result 


add_many(1, 2, 3)
add_many(1, 2, 3, 4, 5, 6, 7, 8, 9)

result = add_many(1,2,3,4,5,6,7,8,9,10)
print(result)

55

## 여러 개의 입력을 처리하는 함수(*args)

In [13]:
def add_mul(choice, *args):
    if choice == "add":
        result = 0 
        for i in args:
            result = result + i 
    elif choice == "mul":
        result = 1 
        for i in args: 
            result = result * i 
    return result 

# add
result = add_mul('add', 1,2,3,4,5)
print(result)
# multiply
result = add_mul('mul', 1,2,3,4,5)
print(result)

15
120

## 키워드 파라미터 kwargs

In [14]:
def print_kwargs(**kwargs):
    print(kwargs)
    
# print_kwargs 함수는 매개변수 kwargs를 출력하는 함수

print_kwargs(a=1)

print_kwargs(name='foo', age=3)

#
# **kwargs처럼 매개변수 이름 앞에 **을 붙이면 매개변수 
# kwargs는 딕셔너리가 되고 모든 key=value 형태의 결괏값이 
# 그 딕셔너리에 저장된다.

{'a': 1}
{'name': 'foo', 'age': 3}

## 함수의 결괏값은 언제나 하나

In [15]:
def add_and_mul(a,b): 
    return a+b, a*b      # 하나의 자료구조로 리턴해준다.


# add_and_mul() 사용 1.
result = add_and_mul(3,4)

print(result)

# add_and_mul() 사용 2.
result1, result2 = add_and_mul(3, 4)

result1, result2

(7, 12)

(7, 12)

## 잘못된 함수

In [18]:
def add_and_mul2(a,b): 
    return a+b 
    return a*b  # Not working!! 앞에 이미 return으로 초기화 되면 뒤에 무엇이 오더라도 안된다.

result = add_and_mul2(2, 3)
print(result)

5

## return 의 용도: 함수 실행 종료

In [24]:
def say_nick(nick): 
    if nick == "바보":  # 만약 닉네임이 바보라면 리턴
        return 
    print("나의 별명은 %s 입니다." % nick)


say_nick("홍길동")
say_nick("바보") # 닉네임이 바보이기때문에 출력안된다.

나의 별명은 홍길동 입니다.

## "매개변수에 초깃값 미리 설정하기

In [23]:
def say_myself(name, old, man=True): 
    print("나의 이름은 %s 입니다." % name) 
    print("나이는 %d살입니다." % old) 
    if man: 
        print("남자입니다.")
    else: 
        print("여자입니다.")
    

say_myself("박응용", 27) #처음에 man이 ture값이라서 자동으로 "남자입니다."가 출력
say_myself("박응용", 27, True)

say_myself("박응용", 27, False)

# 초깃값을 설정해 놓은 매개변수 뒤에 
# 초깃값을 설정해 놓지 않은 매개변수는 사용할 수 없다
# 초기화시키고 싶은 매개변수를 항상 뒤쪽에 놓는다.

나의 이름은 박응용 입니다.
나이는 27살입니다.
남자입니다.
나의 이름은 박응용 입니다.
나이는 27살입니다.
남자입니다.
나의 이름은 박응용 입니다.
나이는 27살입니다.
여자입니다.

## 함수 안에서 선언한 변수의 효력 범위
### 전역변수
### 지역 변수, 자동 변수

In [25]:
# vartest.py
a = 1 #전역함수
def vartest(a): #a는 지역변수
    a = a +1

vartest(a)
print(a)

# vartest_error.py
def vartest2(z):
    z = z + 1

vartest2(3)
print(z)  # Error

1
[1, 2, 3, 4, 5, 6]

## 함수 안에서 함수 밖의 변수를 변경하는 방법
### return 사용
### global 변수 사용

In [26]:
# 1. return 사용하기
a = 1 
def vartest3(a): 
    a = a +1 
    return a

a = vartest3(a) 
print(a)

# 2. global 명령어 사용하기 // 권장하지않는다.
a = 1 
def vartest4(): 
    global a 
    a = a+1

vartest4() 
print(a)

2
2

## lambda
### lambda는 함수를 생성할 때 사용하는 예약어로 def와 동일한 역할을 한다. 
### 보통 함수를 한줄로 간결하게 만들 때 사용한다.

### lambda 사용법

### lambda 매개변수1, 매개변수2, ... : 매개변수를 이용한 표현식

## lambda를 이용한 add 함수

In [27]:
add = lambda a, b: a+b

result = add(3, 4)
print(result)

# lambda 예약어로 만든 함수는 return 명령어가 없어도 결괏값을 돌려준다.

7

## lambda 함수의 응용

In [28]:
models = ['K-3000', 'N-1000', 'T-2000', 'X-5000']
sorted(models, key=lambda x: x[-4:])

['N-1000', 'T-2000', 'K-3000', 'X-5000']